@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,600;0,800;1,300&display=swap");

body {
  margin: 0;
  font-family: "Nunito Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  font-weight: 100;
}
.card {
  display: flex;
  position: relative;
  float: left;
  border: none;
  box-shadow: 1px 0px 5px 0px #0000001a;
  height: 30%;
  width: 32%;
  margin: 10px;
  justify-content: active;
  align-items: active;
}
#root > div {
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

img {
  max-width: 45%;
  width: 45%;
}

a:hover {
  text-decoration: none;
}

.search-box {
  float: left;
  width: 45%;
  padding: 10px;
  border: 2px solid #111d5e;
  border-radius: 10px 10px 10px 10px;
  margin: 10px;
}
.select-box {
  float: right;
  width: 20%;
  padding: 10px;
  border: 2px solid #111d5e;
  border-radius: 10px 10px 10px 10px;
  margin: 10px;
}

.btn:focus {
  outline: 1;
  box-shadow: 10px;
}
.btn-light {
  box-shadow: 0px 0px 10px 0px #0000004a;
}
.btn-light2 {
  box-shadow: 0px 0px 2px 0px #0000004a;
}
.Infos {
  list-style-type: none;
  padding: 2;
}

.lightTheme {
  background: hsl(0, 0%, 98%);
  color: hsl(200, 15%, 8%);
}
.darkTheme {
  background: hsl(207, 26%, 17%);
  color: hsl(0, 0%, 100%);
}
.darkTheme.component {
  background: hsl(209, 23%, 22%);
  color: hsl(0, 0%, 100%);
}
.lightTheme,
.darkTheme,
.darkTheme.component {
  transition: all 0.15s linear;
}

.countryInfo li {
  margin-bottom: 12px;
}
.countryInfo .flag {
  max-width: 30%;
}

.darkInput,
.darkInput:active,
.darkInput:focus,
.btn-dark {
  background: hsl(209, 23%, 22%);
  color: hsl(0, 0%, 100%);
  border: 2;
  box-shadow: 1px 0px 5px 0px #0000001a;
}

@media (max-width: 500px) {
  .flex-xsm-column {
    flex-direction: column !important;
  }

  input {
    margin-bottom: 20px;
  }
}
.nav {
  width: 20px;
  height: 20px;
  margin-top: 5px;
  justify-content: center;
  text-align: center;
}
